<ng-container *ngIf="user!=null">{{user|json}}</ng-container>
<firebase-ui (signInSuccessWithAuthResult)="successCallback($event)" (signInFailure)="errorCallback($event)"
  (uiShown)="uiShownCallback()"></firebase-ui>
<button *ngIf="user!=null" (click)="logout()" class="firebaseui-idp-button mdl-button  mdl-button--raised"><span class="firebaseui-idp-text firebaseui-idp-text-long" style="color:#555">Cerrar sesion</span></button>

<pre *ngFor="let item of listado | async">{{item.content}}</pre>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="item">Item</label>
    <input type="text" class="form-control"
    placeholder="Enter content..." id="item"
    required [(ngModel)]="itemValue" name="item">
  </div>

  <div class="btn-group">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>